@if (user) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(user)">
    <div class="modal-header">
      <h4 class="modal-title">Xác nhận</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p >
        Chắc chắn muốn xoá thông tin <strong>{{ user?.name ?? '' }}</strong>?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span >Huỷ</span>
      </button>

      <button type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span >Xoá</span>
      </button>
    </div>
  </form>
}
