<div>
  <form nz-form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzLabelAlign]="'left'" [nzSpan]="7" nzRequired>Tên</nz-form-label>
      <nz-form-control [nzSpan]="12" nzValidatingTip="Validating..." nzErrorTip="Vui lòng nhập tên!">
        <input nz-input formControlName="name" placeholder="Tên" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzLabelAlign]="'left'" [nzSpan]="7">Loại</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select formControlName="type">
          <nz-option [nzValue]="1" nzLabel="Nhập khẩu"></nz-option>
          <nz-option [nzValue]="2" nzLabel="Nội địa"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzLabelAlign]="'left'" [nzSpan]="7">Ngày mua</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker
          style="width: 100%;"
          nzFormat="dd/MM/yyyy"
          formControlName="purchaseDate"
          [nzDateRender]="tplLunarRender"
          nzPlaceHolder="Chọn ngày"
        ></nz-date-picker>

        <ng-template #tplLunarRender let-current>
          <div class="calendar-cell" [class.today]="isToday(current)">
            <div class="solar-day">
              {{ getDateDay(current) }}
            </div>
            <div class="lunar-day" [class.special]="isSpecial(current)">
              {{ lunarText(current) }}
            </div>
            <!-- chấm đỏ cho ngày lễ dương -->
            <div class="holiday-dot" *ngIf="isHoliday(current)"></div>
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzLabelAlign]="'left'" [nzSpan]="7">Ngày đăng ký</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Ngày đăng ký">
        <nz-date-picker
          style="width: 100%;"
          nzFormat="dd/MM/yyyy"
          formControlName="registrationDate"
          [nzDateRender]="tplLunarRenderRegis"
          nzPlaceHolder="Chọn ngày"
        ></nz-date-picker>

        <ng-template #tplLunarRenderRegis let-current>
          <div class="calendar-cell" [class.today]="isToday(current)">
            <div class="solar-day">
              {{ getDateDay(current) }}
            </div>
            <div class="lunar-day" [class.special]="isSpecial(current)">
              {{ lunarText(current) }}
            </div>
            <div class="holiday-dot" *ngIf="isHoliday(current)"></div>
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div class="d-flex justify-content-end" style="gap: 12px;">
    <button nz-button nzType="default" (click)="handleCancel()">Huỷ</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">
      {{ idItem ? 'Cập nhật' : 'Lưu' }}
    </button>
  </div>
</div>
